My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=Eres una asistente virtual profesional encargada de la agenda del Dr. Galan.\nFECHA Y HORA ACTUAL: {{ $now.setZone('America/Guayaquil').toFormat('cccc d MMMM yyyy, h:mm a') }}\n\nOBJETIVO: Agendar citas revisando disponibilidad real.\n\nTUS HERRAMIENTAS:\n1. 'Herramienta_Leer_Calendario': Trae los próximos 50 eventos.\n2. 'Herramienta_Agendar_Cita': Crea el evento.\n\nCÓMO PROCESAR LA DISPONIBILIDAD (CRÍTICO):\n1. Cuando ejecutes 'Herramienta_Leer_Calendario', recibirás una lista de eventos mezclados.\n2. TU TRABAJO ES FILTRAR:\n   - Mira la propiedad 'start dateTime' de cada evento.\n   - Compárala con el día que pidió el usuario.\n   - SI LA FECHA NO COINCIDE: Ignora ese evento. No cuenta como ocupado para el día solicitado.\n   - SI LA LISTA NO TIENE EVENTOS DEL DÍA PEDIDO: Significa que ese día está LIBRE.\n\nEJEMPLO DE PENSAMIENTO:\n\"El usuario pidió Miércoles 26. La herramienta trajo eventos del Martes 25.\nConclusión: No veo nada para el Miércoles 26 en la lista.\nRespuesta: El Miércoles 26 está totalmente libre.\"\n\nREGLAS DE CONVERSACIÓN:\n- Sé amable y breve.\n- Si está libre, propón horarios.\n- Si está ocupado, busca el hueco más cercano.\n- Al agendar, usa una duración de 1 hora."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        848,
        -16
      ],
      "id": "e3c38f2c-abf3-4ebc-91ca-8e9752323a39",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        288
      ],
      "id": "e169fab5-0bf2-4293-ad22-8aaca587da69",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3Qxj6I14tMAWRkit",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "yolotime2322@gmail.com",
          "mode": "list",
          "cachedResultName": "yolotime2322@gmail.com"
        },
        "limit": 100,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1168,
        240
      ],
      "id": "899ea574-6390-44bc-afbe-e185e5b743ab",
      "name": "Herramienta_Leer_Calendario",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "9Cy93QKQQRaoPyrJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "yolotime2322@gmail.com",
          "mode": "list",
          "cachedResultName": "yolotime2322@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "Agendado por IA.",
          "summary": "Cita Dental - Paciente."
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1280,
        112
      ],
      "id": "3f16f45e-8b33-4720-86ea-779783da94cf",
      "name": "Herramienta_Agendar_Cita",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "9Cy93QKQQRaoPyrJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        416,
        -16
      ],
      "id": "acc68e47-5f68-4ef6-8cc4-821082b7abfe",
      "name": "Webhook",
      "webhookId": "72f8014a-b089-4575-a18e-792896ca65b2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/sendText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatId\": \"{{ $json.body.payload.from }}\", \n  \"text\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        -80
      ],
      "id": "91cb915e-cfef-4558-bf59-32452fda96a6",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=// Function node: crear sessionId a partir del payload items[0].json.sessionId =   (items[0].json.payload && (items[0].json.payload['from'] || items[0].json.payload.from))?.split?.('@')?.[0]   || (items[0].json._data && (items[0].json._data['from'] || items[0].json._data.from))?.split?.('@')?.[0]   || items[0].json.payload?.['from']   || items[0].json._data?.['from']   || ''; return items;"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        960,
        208
      ],
      "id": "8caffc9d-4540-4b2e-bd7b-8c3aed2d4ede",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        112
      ],
      "id": "e091ac3b-000c-4604-98f3-bc6f4438d9c4",
      "name": "Simple Memory1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "WAHA/2025.11.2",
            "x-webhook-request-id": "01KAKH55ZKZEKQYXTEWTT2MBNE",
            "x-webhook-timestamp": "1763739604979",
            "content-length": "3064",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "host.docker.internal:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_01kakh55zkbqhq66jt1fkd34pc",
            "timestamp": 1763739604979,
            "event": "message",
            "session": "default",
            "metadata": {},
            "me": {
              "id": "593963974708@c.us",
              "pushName": "Tester Automatización"
            },
            "payload": {
              "id": "false_78357500801115@lid_AC21A02FF512AC12FDBE5312E4B45468",
              "timestamp": 1763739607,
              "from": "78357500801115@lid",
              "fromMe": false,
              "source": "app",
              "to": "593963974708@c.us",
              "body": "Hola",
              "hasMedia": false,
              "media": null,
              "ack": 1,
              "ackName": "SERVER",
              "location": null,
              "vCards": [],
              "_data": {
                "id": {
                  "fromMe": false,
                  "remote": "78357500801115@lid",
                  "id": "AC21A02FF512AC12FDBE5312E4B45468",
                  "_serialized": "false_78357500801115@lid_AC21A02FF512AC12FDBE5312E4B45468"
                },
                "viewed": false,
                "body": "Hola",
                "type": "chat",
                "t": 1763739607,
                "clientReceivedTsMillis": 1763739606953,
                "notifyName": "Dereck G",
                "from": "78357500801115@lid",
                "to": "593963974708@c.us",
                "ack": 1,
                "invis": false,
                "isNewMsg": true,
                "star": false,
                "kicNotified": false,
                "recvFresh": true,
                "isFromTemplate": false,
                "isAdsMedia": false,
                "pollInvalidated": false,
                "isSentCagPollCreation": false,
                "latestEditMsgKey": null,
                "latestEditSenderTimestampMs": null,
                "mentionedJidList": [],
                "groupMentions": [],
                "isEventCanceled": false,
                "eventInvalidated": false,
                "isVcardOverMmsDocument": false,
                "isForwarded": false,
                "isQuestion": false,
                "questionReplyQuotedMessage": null,
                "questionResponsesCount": 0,
                "readQuestionResponsesCount": 0,
                "hasReaction": false,
                "viewMode": "VISIBLE",
                "messageSecret": {
                  "0": 75,
                  "1": 127,
                  "2": 147,
                  "3": 56,
                  "4": 132,
                  "5": 114,
                  "6": 49,
                  "7": 61,
                  "8": 154,
                  "9": 11,
                  "10": 91,
                  "11": 224,
                  "12": 114,
                  "13": 22,
                  "14": 192,
                  "15": 140,
                  "16": 41,
                  "17": 255,
                  "18": 84,
                  "19": 190,
                  "20": 95,
                  "21": 8,
                  "22": 173,
                  "23": 120,
                  "24": 36,
                  "25": 247,
                  "26": 244,
                  "27": 144,
                  "28": 154,
                  "29": 33,
                  "30": 34,
                  "31": 211
                },
                "productHeaderImageRejected": false,
                "lastPlaybackProgress": 0,
                "isDynamicReplyButtonsMsg": false,
                "isCarouselCard": false,
                "parentMsgId": null,
                "callSilenceReason": null,
                "isVideoCall": false,
                "callDuration": null,
                "callCreator": null,
                "callParticipants": null,
                "isCallLink": null,
                "callLinkToken": null,
                "isMdHistoryMsg": false,
                "stickerSentTs": 0,
                "isAvatar": false,
                "lastUpdateFromServerTs": 0,
                "invokedBotWid": null,
                "bizBotType": null,
                "botResponseTargetId": null,
                "botPluginType": null,
                "botPluginReferenceIndex": null,
                "botPluginSearchProvider": null,
                "botPluginSearchUrl": null,
                "botPluginSearchQuery": null,
                "botPluginMaybeParent": false,
                "botReelPluginThumbnailCdnUrl": null,
                "botMessageDisclaimerText": null,
                "botMsgBodyType": null,
                "reportingTokenInfo": {
                  "reportingToken": {
                    "0": 101,
                    "1": 177,
                    "2": 47,
                    "3": 216,
                    "4": 61,
                    "5": 141,
                    "6": 126,
                    "7": 86,
                    "8": 255,
                    "9": 155,
                    "10": 246,
                    "11": 158,
                    "12": 13,
                    "13": 104,
                    "14": 31,
                    "15": 220
                  },
                  "version": 2,
                  "reportingTag": {
                    "0": 1,
                    "1": 13,
                    "2": 98,
                    "3": 107,
                    "4": 68,
                    "5": 9,
                    "6": 20,
                    "7": 145,
                    "8": 238,
                    "9": 17,
                    "10": 148,
                    "11": 46,
                    "12": 47,
                    "13": 70,
                    "14": 46,
                    "15": 117,
                    "16": 134,
                    "17": 44,
                    "18": 163,
                    "19": 129
                  }
                },
                "requiresDirectConnection": null,
                "bizContentPlaceholderType": null,
                "hostedBizEncStateMismatch": false,
                "senderOrRecipientAccountTypeHosted": false,
                "placeholderCreatedWhenAccountIsHosted": false,
                "groupHistoryBundleMessageKey": null,
                "groupHistoryBundleMetadata": null,
                "links": []
              }
            },
            "engine": "WEBJS",
            "environment": {
              "version": "2025.11.2",
              "engine": "WEBJS",
              "tier": "CORE",
              "browser": "/usr/bin/chromium"
            }
          },
          "webhookUrl": "http://localhost:5678/webhook-test/whatsapp",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Herramienta_Leer_Calendario": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Herramienta_Agendar_Cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7803b7ad-8e06-432f-8f89-dbf86d04ae40",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff982bf198688a51de30d7d9ee8a26f08653a2c87b1cd3c77c6ddb6205313ce9"
  },
  "id": "bNrXBYxM0FfEdtAs",
  "tags": []
}